@model IHLA_Template.Models.User
@{
	ViewBag.Title = "ResetPassword";
}

<h2>Reset Password</h2>

@using (Html.BeginForm(FormMethod.Post)) {
<div class="section">
	<div class="item">
		<div>@Html.LabelFor(model => model.UserID)</div>
		<div>@Html.TextBoxFor(model => model.UserID, new { @autofocus = "autofocus" })</div>
	</div>
	<div class="item">
		<div>Temporary Password</div>
		<div><input type="text" id="TempPass" name="TempPass" /></div>
	</div>
	<div class="item">
		<div>New Password</div>
		<div><input type="password" id="NewPass" name="NewPass" /></div>
	</div>
	<div class="item">
		<div>Confirm Password</div>
		<div><input type="password" id="ConfirmPass" name="ConfirmPass" /></div>
	</div>
</div>
	<div>
		<button id="btnSignIn" name="btnSubmit" value="signin" class="button-action"> Submit</button>
	</div>
}
