@{
	ViewBag.Title = "About";
}

<h3 class="jumbotron">About the Company:</h3>
<p>Inspiring Hearts Learning Academy opened in the fall of 2020,</p>
<br />
<p>The center was discovered by Ashley and Toni Williams who both had a dream and vision of owning and operating a childcare center. IHLA began as an in home child care center and vastly grew into an actual child care center Williams who are both dedicated and knowledgeable caregivers, possessing an Associates of Science degree in Early Childhood Education as well as a combined total of 23 years’ experience within the childcare and healthcare industries. Not only does this team have the knowledge and experience to care for your precious children but they both possess the nurturing hearts and warm spirits needed to Inspire the Hearts of Children.</p>
<br />
<h3 class="jumbotron">Mission:</h3>
<p>Here at IHLA it is our mission to provide a loving, safe, happy, explorative, and healthy environment for all ages during the time their parents have entrusted them to us. Our primary emphasis will be to keep children happy and engaged in activities that interest them and give them the ability to stimulate social , cognitive, physical and emotional growth. IHLA will make the highest efforts to maintain a caring personable staff. </p>


