
@{
    ViewBag.Title = "AdminManageEmployees";
}

<h2 class="jumbotron">Manage Employees</h2>

<div>
	
	<div class="s-member-div pl-5 pb-3">
		<h3 style="font-weight: bold; text-decoration: underline;">Employee Name</h3>
		<p>Classroom: Bumble Bees</p>
		<p>Hire Date: 1/7/2021</p>
		<table width="100%">
			<tr>
				<td class="form-inline" style="display:inline">
					<select class="form-control" id="StudentGender" name="StudentGender">
						<option>Catapiller</option>
						<option>Butterfly</option>
						<option>Pre-K</option>
					</select>
					<button class="btn btn-success">Change Classroom</button>
				</td>
				<td>
					<button class="btn btn-danger">Remove</button>
				</td>
			</tr>
		</table>
	</div>
	<br />
	
	<button class="btn btn-success">Add Employee</button>
</div>

