
@{
    ViewBag.Title = "OpenRequest";
}

<h2 class="jumbotron text-center">Open Requests</h2>

<div>
	<div class="s-member-div">
		<h2 class="s-request-head">Thomas Jefferson</h2>
		<p>Request: Facility Tour</p>
		<p>Submitted: 6/16/2021</p>
		<button class="form-control btn btn-success" >Review</button>
	</div>
	<br />
	<div class="s-member-div">
		<h2 class="s-request-head">John Smith</h2>
		<p>Request: New Student Application</p>
		<p>Submitted: 6/14/2021</p>
		<button class="form-control btn btn-success" >Review</button>
	</div>
	<br />
	<div class="s-member-div">
		<h2 class="s-request-head">Teri Jones</h2>
		<p>Request: Employee Application</p>
		<p>Submitted: 6/10/2021</p>
		<button class="form-control btn btn-success" >Review</button>
	</div>
	<br />
	<div class="s-member-div">
		<h2 class="s-request-head">Sally Adams</h2>
		<p>Request: New Student</p>
		<p>Submitted: 6/9/2021</p>
		<button class="form-control btn btn-success" >Review</button>
	</div>

</div>
