
@{
	ViewBag.Title = "ClassRoster";
}

<h2 class="jumbotron text-center">Class Roster</h2>
<br />


<p style="text-align:left;">
	Classroom: Bumble Bees
	<span style="float:right;">
		Additional Teachers: Ashley
	</span>
</p>

<br />


<div>
	<div class="s-member-div">
		<h2 class="s-request-head">John Smith</h2>
		<p>Age: 11 months</p>
		<p>Student Since: 4/23/2021</p>
	</div>
	<br />
	<div class="s-member-div">
		<h2 class="s-request-head">Jason Jones</h2>
		<p>Age: 10 months</p>
		<p>Student Since: 1/17/2021</p>
	</div>
	<br />
	<div class="s-member-div">
		<h2 class="s-request-head">Sally Adams</h2>
		<p>Age: 7 months</p>
		<p>Student Since: 12/20/2020</p>
	</div>
	<br />
	<div style="display:inline">
		<button class="btn btn-success">Add Child</button>
	</div>
</div>

