
@{
	ViewBag.Title = "EmployeeSchedule";
}

<h2>Employee Schedule</h2>
<div align="right">
	<select class="form-control" id="StudentGender" name="StudentGender">
		<option>6/14-6/18</option>
		<option>6/21-6/25</option>
		<option>6/28-7/2</option>
	</select> 
	<button>View Week</button>
	
</div>

<h3>Week of 6/14-6/18</h3>

<table width="100%" border="1">
	<tr>
		<th>Monday</th>
		<th>Tuesday</th>
		<th>Wednesday</th>
		<th>Thursday</th>
		<th>Friday</th>
	</tr>
	<tr>
		<th>8:00 - 5:00</th>
		<th>8:00 - 5:00</th>
		<th>7:30 - 5:00</th>
		<th>8:00 - 5:00</th>
		<th>Vacation Day</th>
	</tr>

</table>
