
@{
    ViewBag.Title = "NewFamilies";
}

<h2 class="jumbotron text-center">New Families</h2>

<h3>
    <button class="btn btn-success" onclick="location.href='@Url.Action("NewTour", "Tours")';return false;">
        Take a Tour
    </button>
</h3>

<h3>
    <button class="btn btn-success" onclick="location.href='@Url.Action("Application", "StudentApplication")';return false;">
        Apply For Enrollment
    </button>
</h3>

