
@{
    ViewBag.Title = "PayHistory";
}

<h2 class="jumbotron text-center">Pay History</h2>


<table class="table table-bordered">
	<tr>
		<th>Weekly Charge</th>
		<th>Amount Paid</th>
		<th>Payment Date</th>
		<th>Remaining Balance</th>
	</tr>
	<tr>
		<td>300.00</td>
		<td>250.00</td>
		<td>6/14/2021</td>
		<td>0.00</td>
	</tr>
	<tr>
		<td>250.00</td>
		<td>200.00</td>
		<td>6/7/2021</td>
		<td style="color:red">50.00</td>
	</tr>
	<tr>
		<td>250.00</td>
		<td>250.00</td>
		<td>6/1/2021</td>
		<td>0.00</td>
	</tr>

</table>
