@{
    ViewBag.Title = "Payments";
}

<head>
    <link rel="stylesheet" href="~/Content/PaymentTable.css">
</head>

<h2 style="text-align:center">Payments for [Childs Name]</h2>

<table class="PaymentTable" align="center">
    <thead>
        <tr>
            <th>6/18/21</th>
            <th>6/11/21</th>
            <th>6/1/21</th>
            <th>5/24/21</th>
            <th>5/17/21</th>
            <th>5/10/21</th>
            <th>5/3/21</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>$200</td>
            <td>$200</td>
            <td>$200</td>
            <td>$200</td>
            <td>$200</td>
            <td>$200</td>
            <td>$200</td>
        </tr>
    </tbody>
</table>

<br>

<div id="smart-button-container">
    <div style="text-align: center"><label for="description"> </label><input type="text" name="descriptionInput" id="description" maxlength="127" value=""></div>
    <p id="descriptionError" style="visibility: hidden; color:red; text-align: center;">Please enter a description</p>
    <div style="text-align: center"><label for="amount">Amount  </label><input name="amountInput" type="number" id="amount" value=""><span> USD</span></div>
    <p id="priceLabelError" style="visibility: hidden; color:red; text-align: center;">Please enter a price</p>
    <div id="invoiceidDiv" style="text-align: center; display: none;"><label for="invoiceid"> </label><input name="invoiceid" maxlength="127" type="text" id="invoiceid" value=""></div>
    <p id="invoiceidError" style="visibility: hidden; color:red; text-align: center;">Please enter an Invoice ID</p>
    <div style="text-align: center; margin-top: 0.625rem;" id="paypal-button-container"></div>
</div>

<script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
<script src="~/Scripts/paypal.js"></script>