
@{
	ViewBag.Title = "Index";
}

<h2 class="jumbotron">Age Groups</h2>

<table class="table" style="margin-top: 5em">
	<tr>
		<th>Classroom</th>
		<th>Age Group</th>
		<th>Full-Time Tuition Rate*</th>
		<th>Part-Time Tuition Rate*</th>
	</tr>
	<tr>
		<td>Busy Bee</td>
		<td>0-1 years old</td>
		<td>$250/wk</td>
		<td>$180/wk</td>
	</tr>
	<tr>
		<td>Butterfly</td>
		<td>1-3 years old</td>
		<td>$250/wk</td>
		<td>$180/wk</td>
	</tr>
	<tr>
		<td>Sunshine, Ladybug, Caterpillar</td>
		<td>3-5 years old</td>
		<td>$250/wk</td>
		<td>$180/wk</td>
	</tr>
	<tr>
		<td>Pre K</td>
		<td>5+ years old</td>
		<td>$250/wk</td>
		<td>$180/wk</td>
	</tr>
</table>
<div class="button-holder">
	<button type="button" value="Apply" style="display: block;
	margin:0 auto;
	background-color: yellowgreen;
	font-family: 'Comic Sans MS';
	font-size: 24px;
	text-align: center;
	color: floralwhite;
	align-content: center;
	border: 1px groove white;
	border-radius: 15px;
	box-shadow: 5px 10px 5px rgb(0 0 0 / 0.50);
	margin-top: 35px;
	margin-bottom: 35px;
	padding: 1em;
	height: auto;
	width: 25%;" onclick="location.href = '/StudentApplication/Application';">Apply Now</button>
</div>


<p>*Rate is based one child for full-time care. Discounts may apply for multiple children. Part-time rates may be available.</p>